propousals/*
archs/models_state_dicts/*
archs/__pycache__/*
archs/.vector_cache/*
archs/cache/*
archs/tools/__pycache__/*
archs/experimental_layers/noise_working/data/*
archs/debug_transformer/*
archs/model_train_tools/__pycache__/*
audio_processing/idm_gan_autoencoder/model_state_dicts*
audio_processing/idm_gan_autoencoder/__pycache__*
audio_processing/idm_gan_autoencoder/tensors*
audio_processing/idm_gan_autoencoder/art_frames*
audio_processing/idm_gan_autoencoder/idm_mels*
recSys/Datasets*
recSys/best_model.pth