propousals/*
archs/models_state_dicts/*
archs/__pycache__/*
archs/.vector_cache/*
archs/cache/*
archs/tools/__pycache__/*
archs/experimental_layers/noise_working/data/*
archs/debug_transformer/*
archs/model_train_tools/__pycache__/*

